<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>123</title>
<link rel="stylesheet" href="css/test.css">
</head>
<body>
1354
<img  class="img">
<img >
</body>
<script type="text/javascript" src="js/base/echarts.js" ></script>
<!--<script type="text/javascript" src="../static/js/base/jquery-3.1.1.js" ></script>-->
<script type="text/javascript"  src="js/base/jquery-3.1.1.js" ></script>
<!--<script type="text/javascript"  th:src="@{/js/base/jquery-3.1.1.js}"></script>-->

<script>
    // $(function () {
    //     alert(1);
    // })
</script>
</html>